@model Modulo_Facturacion.Models.Asiento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Asiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificadorAsiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificadorAsiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAsiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAsiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificadorCuenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificadorCuenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMovimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMovimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoAsiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoAsiento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
